body {
  margin: 30px;
  background-color: blanchedalmond;
}
h1 {
  text-align: center;
}

.croissant-photo {
  display: block;
  margin: 30px auto;
  padding: 30px;
  border-radius: 40px;
}

footer {
  text-align: center;
}
a {
  color: peru;
  padding: 10px;
}
.email-link {
  color: black;
}
